---
layout: "imgcontentpage"
title: "Projects"
icon: "wrench"
order: 3
hidden: true
---
<% var projects = getCollection("projects").toJSON() %>
<% projects.forEach(function(project){ %>
  <a href="<%- project.url %>"><%= project.title %></a>
<% }) %>
<% document.subtitle = "Some things that I've been working on..." %>
