---
layout: contentpage
---

<% if(document.subtitle){ %>
  <h2 id="subtitle"><%- document.subtitle %></h2>
<% } %>
<h3 id="date"><%- document.formattedDate %></h3>
<div class="blogpost">
  <%- content %>
</div>
