---
layout: core.html
---
<div id="imgcontent" class="animated">
  <div id="headerimg" class="animated">
    <div id="headerdesc">
      <h1><%- document.title %></h1>
    </div>
  </div>
  <div id="maincontent" class="animated">
    <%- content %>
  </div>
</div>
